*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Inter, sans-serif; */
}
.navbar{
    width: 100%;
    background-color: white;
    /* position: fixed;  */
    /* top: 100px; */
    /* z-index: 10; */
}

nav{
    box-shadow: lightgrey 0 0 5px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    /* margin-top: 40px; */
}
nav ul{
    display: flex;
    /* margin-top: 10px; */
}
nav ul li {
    list-style: none;
    /* padding: 10px 30px; */
    position: relative;
    margin-left: 50px;
    margin-top: 10px;
    line-height: 30px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(108, 119, 137);;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
}
nav ul li a:hover{
    color: blue;
}
.dropdown_menu{
    display: none;
}

nav ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: -20px;
    top: 100%;
    width: 250px;
    background-color: rgba(255, 255, 255);
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    border-radius: 0px 0px 8px 8px;
    z-index: 2;
}
.dropdown_menu ul{
    display: block;
    margin: 10px;
}
.dropdown_menu ul li{
    padding: 3px;
    
}
.drop-icon{
    float: right;
    margin-top: 10px;
}
.dropdown-skincare{
    display: none;
}
.dropdown_menu ul li:hover .dropdown-skincare{
    display: block;
    position: absolute;
    left: 150px;
   min-width: 220px; 
    top: -10px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-skincare ul{
    display: block;
    margin: 10px;
}
.dropdown-skincare ul li{
    padding: 4px;
}
.dropdown-skincare ul li a{
    font-size: 12px;
}
.dropdown-haircare{
    display: none;
}
.dropdown_menu ul li:hover .dropdown-haircare{
    display: block;
    position: absolute;
    left: 150px;
    width: 200px;
    top: -45px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-haircare ul{
    display: block;
    margin: 10px;
}
.dropdown-haircare ul li a{
    font-size: 12px;
}
.dropdown-babycare{
    display: none;
}
.dropdown_menu ul li:hover .dropdown-babycare{
    display: block;
    position: absolute;
   
    left: 150px;
    width: 260px;
    top: -79px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-oralcare{
    display: none;
}
.dropdown_menu ul li:hover .dropdown-oralcare{
    display: block;
    position: absolute;
    left: 150px;
    width: 200px;
    top: -120px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-oralcare ul li a{
    font-size: 12px;
}
.dropdown_menu, ul li:hover{
     background-color: rgb(238, 241, 247);
     box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
}
.dropdown-elederlycare{
    display: none;
}
.dropdown_menu ul li:hover .dropdown-elederlycare{
    display: block;
    position: absolute;
    left: 150px;
    width: 230px;
    top: -150px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-elederlycare ul li a{
    font-size: 10px;
}
.skinbar ul{
    display: flex;
}
.skinbar ul li{
    list-style: none;
    margin-left: 13px;
}
.skinbar ul li a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: Inter, sans-serif;
}
.dropdown-health{
    display: none;
}
nav ul li:hover .dropdown-health {
    display: block;
    position: absolute;
    left: -20px;
    top: 100%;
    width: 250px;
    background-color: rgba(255, 255, 255);
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    border-radius: 0px 0px 8px 8px;
    z-index: 2;
    /* background-color: rgb(238, 241, 247); */
    
}
.dropdown-health ul {
    display: block;
}
.dropdown-digestive{
    display: none;
}
.dropdown-eyecare{
    display: none;
}
.dropdown-health ul li:hover .dropdown-digestive{
    display: block;
    position: absolute;
    left: 165px;
    width: 230px;
    top: 0px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-health ul li:hover .dropdown-eyecare{
    display: block;
    position: absolute;
    left: 165px;
    top: 120%;
    width: 230px;
    top: 0px;
    background-color: rgb(238, 241, 247);
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-smoking{
    display: none;
}
.dropdown-health ul li:hover .dropdown-smoking{
    display: block;
    position: absolute;
    left: 165px;
    width: 230px;
    top: 0px;
    background-color: rgb(238, 241, 247);
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
}
.dropdown-vitamins{
    display: none;
}
nav ul li:hover .dropdown-vitamins{
    display: block;
    position: absolute;
    width: 280px;
    left: -20px;
    top: 100%;
    background-color: rgba(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
   
}
.dropdown-vitamins ul{
    display: block;
}
.dropdown-diabetes{
    display: none;
}
nav ul li:hover .dropdown-diabetes{
    display: block;
    position: absolute;
    width: 280px;
    left: -20px;
    top: 100%;
    background-color: rgba(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
   
}
.dropdown-diabetes ul{
    display: block;
}
.dropdown-healthdevice{
    display: none;
}
nav ul li:hover .dropdown-healthdevice{
    display: block;
    position: absolute;
    width: 260px;
    left: -20px;
    top: 100%;
    background-color: rgba(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgb(0,0,0,0.15) -2px 4px 4px 0px;
    z-index: 2;
   
}
.dropdown-healthdevice ul{
    display: block;
}
.navbardown{
    min-height: 250px;
    width: 100%;
    display: flex;
    background-color: rgb(176, 229, 242);
    position: relative;
    left: 0;
    top: 0px;
}
.navbardownheding p{
position: absolute;
left: 30%;
top: 10%;
font-size: 30px;
color: rgb(62, 92, 117);
font-weight: 700;
}
.navbardownheding h2{
position: absolute;
left: 44%;
top: 47%;
font-size: 15px;
line-height: 1.6rem;
color: rgb(62, 92, 117);
}
.navbardown-search{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
   position: absolute;
   top: 60%;
   left: 10%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: none;
    height: 48px;
   
    box-shadow: rgba(0, 113, 189, 0.15) 0px 4px 12px;
}
.navbardown-button{
    cursor: pointer;
    font-family: Inter;
    background-color: rgb(232, 245, 249);
    border-radius: 4px;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 9px 13px 9px 11px;
    min-width: 216px;
    font-weight: 500;
    font-size: 14px;
    margin: 4px 0px 4px 5px;
    color: rgb(0, 58, 106);
    display: flex !important;
    border: none !important;
    
}
.navbardown-button h1{
    font-size: 15px;
    padding-left: 30px;
    padding-top: 5px;
}
.navbardown-scrool input{
    /* width: 100%; */
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    caret-color: rgb(0, 113, 189);
    color: rgb(89, 89, 89) !important;
}
  .navbardown-icon{
    font-size: 25px;
    
  }
.animatedsearch{
position: absolute;
top: 50%;
left: 480px;
transform: translate(25px, -50%);
font-family: Inter;
font-size: 1.2rem;
font-weight: 400;
line-height: 1.8rem;
letter-spacing: 0px;
text-align: left;
cursor: text;
display: flex;
gap: 5px;
}
.navbar-hidden{
    height: 24px;
    margin: auto;
    overflow: hidden;
}
.navbar-hidden{
margin: 0px;
 padding: 0px;
    
    
}
.navbar-hidden ul li{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 2rem;
    font-weight: 700;
    list-style: none;
    color: rgb(89, 89, 89);
    animation:scrollup 15s linear infinite;
}
@keyframes scrollup {
    10%, 20% {
        transform: translateY(-2rem);
    }
    25%, 40% {
        transform: translateY(-4rem);
    }
    45%, 65% {
        transform: translateY(-6rem);
    }
    
70%, 80% {
    transform: translateY(-8rem);

}
81%,90%{
    transform: translateY(-10rem);
}
91%,100%{
    transform: translateY(-12rem);
}
}
.navbardown-last{
    cursor: pointer;
    background: rgb(0, 113, 189);
    color: rgb(255, 255, 255);
    border: 0px;
    padding: 8px 32px;
    height: 50px;
    border-radius: 8px 8px 8px 8px;
    /* font-size: 1.6rem; */
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.02em;
    outline: none;
    z-index: unset !important;
}
.navbardown-last h1{
    font-size: 25px;
}
.health-blog{
    position: relative;
    top: 30px;
    width: 100%;
    /* background-color: whitesmoke; */
    height: 400px;
    display: flex;
    /* overflow-x: scroll; */
    gap: 40px;
  }
  .health-blogcontent{
    position: relative;
    top: 600px;
    /* display: flex; */
  }
  .health-blogcontent a{
    text-decoration: none;
    float: right;
    margin-top: -10px;
    font-size: 30px;
  }
  .health-blog-1{
    cursor: pointer;
    box-sizing: border-box;
    background: rgb(255, 255, 255); 
     border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: 300px;
    width: 30%;
    position: relative;
  }
  .health-blog-1 img{
    border-radius: 10px 10px 0px 0px;
  }
  .health-blog-1 p{
   position: absolute;
   top: 150px;
   left: -100px;
   font-size: 15px;
  }
  .footertopimg img{
    margin-left: 420px;
  }
  .footertopline{
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .footertophead h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 2.4rem;
    margin-left: 20px;
    color: rgb(129, 152, 187);
  }
  .lastfooter-1{
    width: 100%;
    height: 500px;
    background-color: lightblue;
    
  }
  .lastfooter-headings1{
    display: flex;
    justify-content: space-around;
  }
  .lastfooter-Company ul li{
 margin-top: 30px;
 
  }
.lastnamecomapny{
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.lastfootermedias{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lastfootersocial p{
    font-weight: 700;
    font-size: 25px;
    margin-left: -60px;
    margin-top: -15px;
}
.logolastfooter{
    font-size: 35px;
    margin-left: 10px;
}
.lastfooter-legal{
    display: flex;
    flex-direction: column;
}
.lastfooter-legal ul li a{
    margin-top: 10px;
    color: rgb(108, 119, 137);
    font-size: 15px;
    margin-left: -30px;
}
.lastfooter-subscribe h2{
    color: rgb(108, 119, 137);
    margin-top: 25px; 
}
.lastfooter-subscribe p{
    margin-left: -100px;
    margin-top: -30px;
}
.QIpTB {
    border: 1px solid currentcolor;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    display: flex;
    
    justify-content: space-between;
    
}

.emailfooter{
border: 0px;
outline: 0px;
min-width: 0px;
padding: 0px 16px;
background-color: transparent;
color: rgb(136, 151, 162);
font-size: 1.4rem;
font-weight: 400;
line-height: 2.2rem;
}
.emailsubmitbtn-1{
    border-radius: 6px;
    background: rgb(0, 113, 188);
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 700;

    padding: 12px 24px;
    border: 0px;
    width: 200px;
    cursor: pointer;
    
    margin-left: 20px;
}
#facebook{
    color: blue;
}
#youtube{
color: red;
}
#linkedin{
    color: #0077b5;
}